@import url(http://fonts.googleapis.com/css?family=Roboto:300,300italic,400,400italic,500);

html {
  font-size: 18px;
}

body {
  text-rendering: optimizeLegibility;
  font: normal 1em/1.6 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
  padding-top: 3em;
  word-wrap: break-word
}

img {
  max-width: 100%;
}

p {
  margin: 1.5em 0;
}

a,
a:hover,
a:visited {
  color: #1E88E5;
  text-decoration: none;
}

ul li p {
  margin: .5em 0;
}

.sans {
  font: 300 1em/1.5 Roboto, "Helvetica Neue", Arial, sans-serif;
}

.sans strong {
  font-weight: 500;
}

.site-header {
  height: 3em;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 10%;
  box-sizing: border-box;
}

.site-header a {
  color: inherit;
}

.site-header div {
  width: 50%;
  vertical-align: top;
  display: inline-block;
}

.site-header div.left {
  text-transform: lowercase;
  font-size: 1.5em;
  line-height: 2em;
  height: 2em;
}

.site-header div.right {
  text-align: right;
  line-height: 3em;
  height: 3em;
}

.site-header nav {
  display: inline-block;
}

.site-header nav ul {
  list-style: none;
  display: inline-block;
  margin: 0;
  padding: 0;
}

.site-header nav ul li {
  display: inline-block;
}

header.imaged .banner {
    margin-top: -3em;
    height: 28em;
    width: 100%;
    background: no-repeat center center;
    background-attachment: scroll;
    background-size: cover;
}

.site-footer {
    background-color: #060708;
    color: #fff;
    margin-top: 1.5em;
    text-align: center;
    padding: 2em 1em;
    box-sizing: border-box;
}

.container {
  max-width: 650px;
  width: 95%;
  margin: 0 auto;
}

/* ARTICLES */
article header h1 {
    margin-bottom: 0;
    font-size: 2em;
}

article header .meta {
  font-size: .9em;
}

article header .category {
  font-weight: bold;
}

article header .category a {
  color: inherit;
}
