<!DOCTYPE html>
<html class="no-js" lang="{{ .Site.LanguageCode }}">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>{{ .Title }} | {{ if .IsHome }}A CompSci Enthusiast{{ else }}{{ .Site.Title }}{{ end }}</title>
<meta name="description" content="{{ if .Description }}{{ .Description }}{{ else }}{{ .Site.Params.Description }}{{ end }}">
<link rel="canonical" href="{{ .Permalink }}">
<link rel="publisher" href="https://plus.google.com/+{{ .Site.Social.GooglePlus }}"/>

{{ partial "head/open_graph" . }}
{{ partial "head/twitter" .}}
{{ partial "head/webmaster" .}}

{{ if .RSSlink }}
<link href="{{ .RSSlink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }} | A CompSci Enthusiast" />
<link href="{{ .RSSlink }}" rel="feed" type="application/rss+xml" title="{{ .Site.Title }}" />
{{ end }}

{{ partial "head/icons" .}}
{{ partial "head/includes" .}}
{{ partial "schema/person" . }}
{{ if (not .IsHome) and (eq .Type "post") }}{{ partial "schema/article" . }}{{ end }}
</head>

<body>
  {{ partial "navbar" . }}
